.section-3 {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #13142e;

    &__container {
        max-width: 1400px;
        position: relative;

        padding: 0;
        margin: 0 auto;

        padding: 60px 0 60px;
    }

    &__title {
        @extend %title-index;

        margin: 0;
        margin-bottom: 50px;

        text-align: center;

        @media (min-width: 1500px) {
            text-align: left;
        }
    }

    &__svg-title {
        width: 19px;
        height: 45px;

        fill: url(#grad);
    }
}
.b3-swiper-container {
    width: 222px;

    padding: 0 0 80px;

    margin: 0 auto;

    overflow: hidden;

    @media (min-width: 600px) {
        width: 500px;
    }

    @media (min-width: 950px) {
        width: 750px;
        height: 700px;
    }

    @media (min-width: 1500px) {
        width: 1210px;
    }
}

.b3-list {
    &__item {
        overflow: hidden;

        position: relative;

        height: 280px;

        background-color: #252c47;
        border-radius: 5.0px;

        &:hover{
            .b3-list__opacity{
                visibility: visible;
            }

            .b3-list__title-musician{
                @extend %gradient-text;

                transform: scale(1.1);
                transition: transform 0.3s;
            }

            .b3-list__button-play{
                transform: scale(1.2);

                transition: transform 0.3s;
            }
        }

      
    }

    &__background {
        position: absolute;

        width: 100%;
        height: 280px;
        
        top: 0;
        right: 0;
    }

    &__img {
        position: absolute;
        
        right: 0;
        bottom: 0;
    }

    &__opacity {
        position: absolute;

        background-color: black;
        opacity: 0.6;

        z-index: 5;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        visibility: hidden;
    }

    &__title-musician {
        position: relative;
        z-index: 10;

        font-family: 'FiraSansCondensed';
        font-size: 19px;
        font-weight: 400;
        letter-spacing: 0.015em;
        color: #fefefe;

        margin: 30px 0 15px 30px;
        padding: 0;

        transition: transform 0.3s;
    }

    &__subtitle-musician {
        position: relative;
        z-index: 10;

        font-family: 'Poppins';
        font-size: 14px;
        font-weight: 400;
        color: #f2f2f2;

        margin: 0;
        margin-left: 30px;
    }

    &__button-play {
        position: absolute;
        z-index: 10;
        display: block;

        left: 30px;
        bottom: 35px;

        background: url('../../img/icon/play_button_b3.png');
        background-repeat: no-repeat;
        background-position: center;

        width: 17px;
        height: 18px;

        border: none;
        outline: none !important;

        transition: transform 0.3s;
    }
}
.b3-pagination {
    @media (min-width: 950px) {
        display: none;
    }
}
.b3-swiper-button-prev {
    display: none;

    &:hover{
        .swiper-button-prev-svg{
            transform: translateX(-30%) scale(1.2);
            fill: url(#grad);
            transition: transform 0.3s;
        } 
    }

    @media (min-width: 950px) {
        display: block;
        z-index: 10;

        outline: none;

        position: absolute;
        top: 470px;
        left: 1%;

        width: 60px;
        height: 45px;
        background-color: #2c3552;
        border-radius: 2.0px;

        &::after{
            content: none;
        }
    }

    @media (min-width: 1150px) {
        left: 9%;
    }

    @media (min-width: 1400px) {
        left: 15%;
    }

    @media (min-width: 1500px) {
        top: 450px;
        left: 0%;
    }
}
.b3-swiper-button-next {
    display: none;

    &:hover{
        .swiper-button-next-svg{
            transform: translateX(30%) scale(1.2);
            fill: url(#grad);
            transition: transform 0.3s;
        } 
    }

    @media (min-width: 950px) {
        display: block;
        z-index: 10;

        outline: none;

        position: absolute;
        top: 470px;
        right: 1%;

        width: 60px;
        height: 45px;
        background-color: #2c3552;
        border-radius: 2.0px;

        &::after{
            content: none;
        }
    }

    @media (min-width: 1150px) {
        right: 9%;
    }

    @media (min-width: 1400px) {
        right: 15%;
    }

    @media (min-width: 1500px) {
        top: 450px;
        right: 0%;
    }
}
