.main{
    background-color: #13142e;
}
.section-1 {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #13142e;

    &__container-1 {
        position: relative;

        background: url('../../img/Home/bacground_b1.png');
        height: 700px;
        max-width: 1920px;

        margin: 0 auto;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 150px;

        @media (min-width:1400px){
            height: 1000px;

            padding-top: 350px;
        }
    }

    &__opacity-block {
        position: absolute;
        top: 0;
        z-index: 1;

        background-color: black;
        opacity: 0.6;
        height: 700px;
        width: 100%;

        @media (min-width:1400px){
            height: 1000px;
        }
    }

    &__title {
        position: relative;
        z-index: 2;
        opacity: 1;

        font-family: 'FiraSansCondensed';
        font-size: 40px;
        font-weight: 600;
        text-transform: uppercase;
        color: #ffffff;

        text-align: center;

        margin: 0;
        margin-bottom: 40px;
        padding: 0;

        @media (min-width: 700px) {
            font-size: 50px;
        }

        @media (min-width: 1100px) {
            font-size: 60px;
        }
    }

    &__subtitle {
        position: relative;
        z-index: 2;
        opacity: 1;

        font-family: 'Poppins';
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        color: #e8e8e8;

        text-align: center;

        margin: 0;
        margin-bottom: 40px;
        padding: 0;

        @media (min-width: 700px) {
            max-width: 80%;
        }

        @media (min-width: 1100px) {
            max-width: 60%;
            font-size: 20px;
        }
    }

    &__button {
        position: relative;
        z-index: 2;
        opacity: 1;

        width: 110px;
        height: 55px;

        border: none;
        outline: none !important;

        background:$gradient;

        &:hover{
            .section-1__button-svg-right{
                transform: translateX(40%) scale(1.2);
                fill: gray;

                transition: transform 0.5s;
            }
        }
    }

    &__button-svg-right{
        position: absolute;
        z-index: 2;
        opacity: 1;

        width: 85px;

        top: 28%;
        left: -35%;

        outline: none;

        fill: white;

        transition: transform 0.5s;
    }

    &__social-networks{
        position: absolute;
        bottom: 60px;
        left: 0;

        z-index: 20;
        opacity: 1;

        width: 100%;

        display: flex;
        justify-content: space-evenly;

        @media (min-width:1400px){
            width: 45px;

            flex-direction: column;

            bottom: 370px;
            left: 93%;
        }
    }

    &__social-networks-item{
        position: relative;
        z-index: 2;
        opacity: 1;
        display: block;

        pointer-events: auto;

        &:hover{
            .section-1__social-networks-svg{
                fill: url(#grad);

                transform: scale(1.3);
                transition: transform 0.3s;
            }
        }

        @media (min-width:1400px){
          margin-bottom: 40px;  

          &:last-child{
              margin-bottom: 0;
          }
        }
    }

    &__social-networks-svg{
        width: 40px;
        height: 40px;

        fill: #b7bad2;

        transition: transform 0.3s;
    }
}
