.section-2 {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #1b2136;

    &__container {
        max-width: 1400px;
        position: relative;

        padding: 0;
        margin: 0 auto;

        padding-top: 70px;
        padding-bottom: 50px;
    }

    &__title{
        @extend %title-index;

        margin: 0;
        margin-bottom: 50px;

        text-align: center;

        @media (min-width: 1500px) {
            text-align: left;
        }
    }

    &__svg-title {
        width: 19px;
        height: 45px;

        fill: url(#grad);
    }
}
.b2-swiper-container {
    width: 222px;

    padding: 0 0 60px;

    margin: 0 auto;

    overflow: hidden;

    @media (min-width: 600px) {
        width: 500px;
    }

    @media (min-width: 950px) {
        width: 750px;
    }

    @media (min-width: 1500px) {
        width: 1210px;
    }
}
.b2-list {
    &__item {
        overflow: hidden;
        cursor: pointer;
    
        &:hover{
            .b2-list__opacity{
                visibility: visible;
                transition: opacity 0.4s;
            }
    
            .b2-list__song-title{
                @extend %gradient-text;
            }
    
            .b2-list__arrow-right{
                transform: translateX(83px) scale(1.4);
                transition: transform  0.4s;
            }
    
            .b2-list__song-time{
                transform: translateX(100px);
                opacity: 0;
                transition: transform  0.4s, opacity 0.4s;
            }
    
            &::after{
                content: url('../../img/icon/play_button_b2.png');
                position: absolute;
                top: 35%;
                left: 50%;
                z-index: 5;
                opacity: 1;
    
                @media (min-width:1500px){
                    left: 40%;
                }
            }
        }
    }    
    
    &__background {
        position: relative;

        margin-bottom: 10px;
    }

    &__img{
        background-size: cover;
    }

    &__opacity{
        position: absolute;

        background-color: black;
        opacity: 0.6;

        z-index: 5;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        visibility: hidden;
    }

    &__song-info {
    }

    &__song-title {
        font-family: 'FiraSansCondensed';
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.015em;
        color: #ffffff;

        margin-bottom: 5px;
        margin-left: 5px;

        display: block;
    }

    &__arrow-right {
        position: absolute;
        width: 60px;
        height: 20px;
        fill: url(#grad);

        margin-right: 20px;
        margin-left: -83px;

        transition: transform  0.4s;
    }

    &__song-time {
        font-family: 'Poppins';
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.015em;
        color: #f2f2f2;

        margin-left: 5px;

        display: block;

        transition: transform  0.4s, opacity 0.4s;
    }
}
.b2-pagination {
    @media (min-width: 950px) {
        display: none;
    }
}
.b2-swiper-button-prev {
    display: none;

    &:hover{
        .swiper-button-prev-svg{
            transform: translateX(-30%) scale(1.2);
            fill: url(#grad);
            transition: transform 0.3s;
        } 
    }

    @media (min-width: 950px) {
        display: block;
        z-index: 10;

        outline: none;

        position: absolute;
        top: 300px;
        left: 1%;

        width: 60px;
        height: 45px;
        background-color: #2c3552;
        border-radius: 2.0px;

        &::after{
            content: none;
        }
    }

    @media (min-width: 1150px) {
        left: 9%;
    }

    @media (min-width: 1400px) {
        left: 15%;
    }

    @media (min-width: 1500px) {
        left: 0%;
    }
}
.b2-swiper-button-next {
    display: none;

    &:hover{
        .swiper-button-next-svg{
            transform: translateX(30%) scale(1.2);
            fill: url(#grad);
            transition: transform 0.3s;
        } 
    }

    @media (min-width: 950px) {
        display: block;
        z-index: 10;

        outline: none;

        position: absolute;
        top: 300px;
        right: 1%;

        width: 60px;
        height: 45px;
        background-color: #2c3552;
        border-radius: 2.0px;

        &::after{
            content: none;
        }
    }

    @media (min-width: 1150px) {
        right: 9%;
    }

    @media (min-width: 1400px) {
        right: 15%;
    }

    @media (min-width: 1500px) {
        right: 0%;
    }
}

