.header {
    background-color: #13142e;
    height: 80px;

    display: flex;
    align-items: center;
    
    margin-bottom: 50px;

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;

        width: 100%;
    }

    &__logo{
        display: block;
    }

    &__nav-button {
        width: 30px;
        height: 25px;
        background: transparent;

        padding: 0;
        margin: 0;
        margin-top: 8px;

        border: none;
        outline: none !important;

        cursor: pointer;

        &:hover{
            .header__nav-button_liner{
                background: $gradient;
            }
        }

        &_liner {
            margin-bottom: 8px;
            width: 30px;
            height: 2px;
            background: white;
            display: block;

            &_liner:last-child{
                margin-bottom: 0;
            }
        }
    }

    .header-nav {
        width: 100%;
        position: absolute;

        margin-top: 40px;

        display: none;

		&__ul {
            background: #2c3552;

            height: 100%;

            padding: 0;
            padding-top: 70px;
            margin: 0;

            width: 100%;

            position: fixed;

            display: flex;
            align-items: center;
            flex-direction: column;

            z-index: 20;
            }

		&__item {
            list-style: none;

            position: relative;
    
            margin-right: 50px;
            margin-bottom: 20px;
    
            transition: transform 0.2s;
    
            &:last-child{
                margin-bottom: 0;
            }
    
            &:hover{
                transform: scale(1.1);

                .header-nav__svg{
                    fill: url("#grad");
    
                    visibility: visible;
                    transform: scale(1.1);
    
                    transition: transform 0.2s;

                }
    
                .header-nav__link{
                    @extend %gradient-text;
    
                    transition: background 0.2s;

                    font-weight: 500;
                }
            }
		}

		&__svg {
            width: 30px;
            visibility: hidden;
            position: absolute;
            margin-left: -30px;
            top: 8px;
		}

		&__link {
            margin-left: 15px;

            font-family: 'Poppins';
            font-size: 25px;
            color: white;
		}
}

    &__basket {
        background: transparent;
        outline:none !important;
        border: none;

        padding-top: 5px;


        cursor: pointer;

        &:hover{
            .header__basket-svg{
                fill: url('#grad');
            }
        }
    }

    &__basket-svg {
        height: 20px;

        fill: white;
    }

    &__search {
        background: transparent;
        border: none;
        outline: none !important;

        padding-top: 5px;

        cursor: pointer;

        &:hover{
            .header__search-svg{
                fill: url('#grad');
            }
        }
    }

    &__search-svg {
        height: 20px;

        fill: white;
    }
}
