@charset "UTF-8";
body {
  font-family: 'FiraSansCondensed', sans-serif;
  font-size: 16px;
  overflow: auto;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  margin: 0;
  padding: 0;
  border: 0; }

*,
*:before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  /*позволяет наследовать свойство родителя*/ }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  pointer-events: none;
  color: inherit; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0; }

.clearfix::after {
  display: block;
  clear: both;
  content: ''; }

.svg-sprites {
  position: absolute;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  padding: 0;
  opacity: 0;
  top: 0;
  left: 0;
  border: 0; }

.overflow {
  overflow: hidden; }

.service__title, .quick-links__title, .our-event__title {
  font-family: 'FiraSansCondensed';
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: white; }

.service__link, .quick-links__link, .our-event__time, .our-event__sity, .our-event__date, .copyright-info__copyright, .copyright-info__subtitle, .social-network__title {
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: white; }

.header .header-nav__item:hover .header-nav__link, .service__item:hover .service__link, .quick-links__item:hover .quick-links__link {
  background: -webkit-gradient(linear, right top, left top, from(#ff7d56), to(#ff498e));
  background: -o-linear-gradient(right, #ff7d56 0%, #ff498e 100%);
  background: linear-gradient(-90deg, #ff7d56 0%, #ff498e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.header {
  background-color: #13142e;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px; }
  .header__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .header__logo {
    display: block; }
  .header__nav-button {
    width: 30px;
    height: 25px;
    background: transparent;
    padding: 0;
    margin: 0;
    margin-top: 8px;
    border: none;
    outline: none !important;
    cursor: pointer; }
    .header__nav-button:hover .header__nav-button_liner {
      background: -webkit-gradient(linear, right top, left top, from(#ff7d56), to(#ff498e));
      background: -o-linear-gradient(right, #ff7d56 0%, #ff498e 100%);
      background: linear-gradient(-90deg, #ff7d56 0%, #ff498e 100%); }
    @media (min-width: 1400px) {
      .header__nav-button {
        visibility: hidden;
        position: absolute; } }
    .header__nav-button_liner {
      margin-bottom: 8px;
      width: 30px;
      height: 2px;
      background: white;
      display: block; }
      .header__nav-button_liner_liner:last-child {
        margin-bottom: 0; }
  .header .header-nav {
    width: 100%;
    position: absolute;
    margin-top: 40px;
    display: none; }
    @media (min-width: 1400px) {
      .header .header-nav {
        display: block;
        position: relative;
        margin-top: 0;
        width: 820px; } }
    .header .header-nav__ul {
      background: #2c3552;
      height: 100%;
      padding: 0;
      padding-top: 70px;
      margin: 0;
      width: 100%;
      position: fixed;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      z-index: 20; }
      @media (min-width: 1400px) {
        .header .header-nav__ul {
          position: relative;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row;
          background: transparent;
          padding: 0; } }
    .header .header-nav__item {
      list-style: none;
      position: relative;
      margin-bottom: 20px;
      -webkit-transition: -webkit-transform 0.2s;
      transition: -webkit-transform 0.2s;
      -o-transition: transform 0.2s;
      transition: transform 0.2s;
      transition: transform 0.2s, -webkit-transform 0.2s; }
      .header .header-nav__item:last-child {
        margin-bottom: 0; }
      .header .header-nav__item:hover {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1); }
        .header .header-nav__item:hover .header-nav__svg {
          fill: url("#grad");
          visibility: visible;
          -webkit-transform: scale(1.1);
              -ms-transform: scale(1.1);
                  transform: scale(1.1);
          -webkit-transition: -webkit-transform 0.2s;
          transition: -webkit-transform 0.2s;
          -o-transition: transform 0.2s;
          transition: transform 0.2s;
          transition: transform 0.2s, -webkit-transform 0.2s; }
        .header .header-nav__item:hover .header-nav__link {
          -webkit-transition: background 0.2s;
          -o-transition: background 0.2s;
          transition: background 0.2s;
          font-weight: 500; }
      @media (min-width: 1400px) {
        .header .header-nav__item {
          margin-bottom: 0;
          margin-right: 30px; }
          .header .header-nav__item:last-child {
            margin-right: 0; } }
    .header .header-nav__svg {
      width: 30px;
      visibility: hidden;
      position: absolute;
      margin-left: -30px;
      top: 8px; }
      @media (min-width: 1400px) {
        .header .header-nav__svg {
          width: 20px;
          margin-left: 16px;
          top: -23px; } }
    .header .header-nav__link {
      margin-left: 15px;
      font-family: 'Poppins';
      font-size: 25px;
      color: white; }
      @media (min-width: 1400px) {
        .header .header-nav__link {
          font-size: 16px;
          font-weight: 500; } }
  .header__basket {
    background: transparent;
    outline: none !important;
    border: none;
    margin-right: 60px;
    padding-top: 5px;
    cursor: pointer; }
    .header__basket:hover .header__basket-svg {
      fill: url("#grad"); }
    @media (min-width: 1400px) {
      .header__basket {
        margin-right: 100px; } }
  .header__basket-svg {
    height: 28px;
    fill: white; }

.footer {
  position: relative;
  background-color: #13142e; }
  .footer__svg-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    z-index: 5;
    fill: #151839;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    visibility: hidden; }
    @media (min-width: 900px) {
      .footer__svg-1 {
        visibility: visible; } }
    @media (min-width: 1750px) {
      .footer__svg-1 {
        width: 12%; } }
  .footer__svg-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    z-index: 5;
    fill: #151839;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    visibility: hidden; }
    @media (min-width: 900px) {
      .footer__svg-2 {
        visibility: visible; } }
    @media (min-width: 1750px) {
      .footer__svg-2 {
        width: 12%;
        bottom: -23%; } }
  .footer__svg-op {
    opacity: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .footer .svg-active {
    fill: url(#grad);
    opacity: 0.4;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
    @media (min-width: 1750px) {
      .footer .svg-active {
        opacity: 1; } }
  .footer .svg-no-active {
    opacity: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .footer__container {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 50px; }
    @media (min-width: 900px) {
      .footer__container {
        padding-bottom: 30px; } }
    @media (min-width: 1750px) {
      .footer__container {
        padding: 80px 220px; } }

.logo-bar {
  z-index: 10;
  margin: 0 auto 40px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (min-width: 1750px) {
    .logo-bar {
      width: 25%;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; } }
  .logo-bar__logo {
    margin-bottom: 20px;
    display: block; }
    @media (min-width: 1750px) {
      .logo-bar__logo {
        height: 42px;
        margin-bottom: 10px; } }
  .logo-bar__language {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 15px; }
  .logo-bar__title {
    margin: 0;
    padding: 0;
    margin-right: 10px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    float: left; }
  .logo-bar__button {
    border: 1.0px solid #383f5c;
    border-radius: 5px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #848597;
    text-transform: uppercase;
    background-color: transparent;
    width: 110px;
    height: 38px;
    margin-right: 10px;
    outline: none;
    cursor: pointer; }
    .logo-bar__button:last-child {
      margin-right: 0; }
    .logo-bar__button:hover {
      background-color: white;
      outline: none; }

.dropdown {
  margin-bottom: 50px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (min-width: 1750px) {
    .dropdown {
      height: 25px; } }

.show {
  background-color: transparent; }

.btn-secondary {
  background-color: transparent !important; }

.dropdown-toggle {
  background-color: transparent;
  border: none;
  padding: 0 5px;
  margin-top: -2px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px; }
  .dropdown-toggle::after {
    margin-bottom: -2px; }

.dropdown-menu {
  background-color: #151839; }

.dropdown-item {
  background-color: #151839;
  color: white;
  font-family: 'Poppins';
  font-weight: 400; }

.dropdown-item:hover {
  color: red; }

.service {
  margin: 0 auto 40px;
  z-index: 15;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }
  @media (min-width: 900px) {
    .service {
      width: 25%;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      margin-top: -70px; } }
  @media (min-width: 1750px) {
    .service {
      width: 25%;
      margin-top: 0px;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; } }
  .service__title {
    margin-bottom: 15px;
    text-align: center; }
  .service__list {
    margin: 0 auto;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .service__item {
    display: inline-block;
    list-style: none;
    margin-bottom: 10px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    cursor: pointer; }
    .service__item:last-child {
      margin-bottom: 0; }
    .service__item:hover {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2);
      -webkit-transition: -webkit-transform 0.2s;
      transition: -webkit-transform 0.2s;
      -o-transition: transform 0.2s;
      transition: transform 0.2s;
      transition: transform 0.2s, -webkit-transform 0.2s; }
      .service__item:hover .service__link {
        -webkit-transition: background 0.2s;
        -o-transition: background 0.2s;
        transition: background 0.2s; }

.quick-links {
  margin: 0 auto;
  margin-bottom: 40px;
  z-index: 15;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }
  @media (min-width: 900px) {
    .quick-links {
      width: 25%;
      margin-top: -70px;
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3; } }
  @media (min-width: 1750px) {
    .quick-links {
      width: 25%;
      margin-top: 0px; } }
  .quick-links__title {
    margin-bottom: 15px;
    text-align: center; }
  .quick-links__list {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .quick-links__item {
    text-align: center;
    list-style: none;
    margin-bottom: 10px;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    cursor: pointer; }
    .quick-links__item:hover {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2);
      -webkit-transition: -webkit-transform 0.2s;
      transition: -webkit-transform 0.2s;
      -o-transition: transform 0.2s;
      transition: transform 0.2s;
      transition: transform 0.2s, -webkit-transform 0.2s; }
      .quick-links__item:hover .quick-links__link {
        -webkit-transition: background 0.2s;
        -o-transition: background 0.2s;
        transition: background 0.2s; }
      .quick-links__item:hover .footer__svg_1 {
        fill: url(#grad); }
      .quick-links__item:hover .footer__svg_2 {
        fill: url(#grad); }

.our-event {
  margin: 0 auto 50px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }
  @media (min-width: 900px) {
    .our-event {
      width: 30%;
      margin-top: 20px;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; } }
  @media (min-width: 1750px) {
    .our-event {
      width: 25%;
      -webkit-box-ordinal-group: 5;
      -webkit-order: 4;
          -ms-flex-order: 4;
              order: 4;
      margin-top: 0; } }
  .our-event__title {
    text-align: center;
    margin-bottom: 15px; }
    @media (min-width: 1750px) {
      .our-event__title {
        margin-bottom: 30px; } }
  .our-event__list {
    margin: 0 auto;
    padding: 0; }
  .our-event__item {
    list-style: none;
    margin-bottom: 20px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 270px;
    height: 60px;
    border: 1.0px solid #383f5c;
    border-radius: 5.0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .our-event__item:last-child {
      margin-bottom: 0; }
  .our-event__time {
    color: white;
    display: block;
    width: 120px;
    height: 40px;
    background-color: #1e253f;
    border-radius: 5.0px;
    text-align: center;
    padding: 8px 5px;
    margin-right: 15px; }
  .our-event__sity {
    font-size: 15px;
    margin-bottom: 0px;
    display: block; }
  .our-event__date {
    font-size: 15px;
    color: white;
    display: block; }

.copyright {
  border-top: 1px solid #848597;
  padding: 20px 0 30px;
  z-index: 10; }
  @media (min-width: 900px) {
    .copyright {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media (min-width: 1750px) {
    .copyright {
      width: 1170px;
      margin: 0 auto;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.copyright-info {
  margin-bottom: 20px; }
  @media (min-width: 900px) {
    .copyright-info {
      margin-bottom: 0;
      margin-left: 20px; } }
  .copyright-info__copyright {
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center; }
  .copyright-info__subtitle {
    font-size: 13px;
    color: #848597;
    text-align: center; }
    @media (min-width: 900px) {
      .copyright-info__subtitle {
        text-align: left; } }

.social-network__title {
  font-size: 15px;
  margin-bottom: 10px;
  text-align: center; }

.social-network__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0; }

.social-network__item {
  list-style: none;
  margin-right: 20px;
  z-index: 10;
  cursor: pointer; }
  .social-network__item:hover .social-network__link .social-network__svg {
    fill: url(#grad); }

.social-network__svg {
  width: 24px;
  fill: #a39bba; }
