$gradient: linear-gradient(-90.0deg, #ff7d56 0%, #ff498e 100%);

%title-footer{
    font-family: 'FiraSansCondensed';
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;

    margin: 0;
    padding: 0;

    color: white;
}

%subtitle-footer{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;

    margin: 0;
    padding: 0;

    color: white;
}

%gradient-text{
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

%title-index{
    font-family: 'FiraSansCondensed';
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.015em;
    color: #ffffff;
}

.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
}
.swiper-pagination-bullet-active{
    background: $gradient !important;
}
.swiper-button-prev-svg{
    position: relative;
    top: 8px;
    left: 37px;

    fill: #98a0b9;
    width: 48px;

    transition: transform 0.3s;
}
.swiper-button-next-svg{
    position: relative;
    top: 8px;
    right: 25px;

    fill: #98a0b9;
    width: 48px;

    transition: transform 0.3s;
}
